<!DOCTYPE html>
<html> 
<head>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <title>{{ site.title }} {{ page.title }}</title>
</head>
<body>
  <div id="header">
    <h1>Jay's Blog...</h1>
  </div>
   <div id="menu">
    <ul>
      <li><a href="index.html">| Home</a> |
      <li><a href="aboutme.html">About Me</a> |
      <li><a href="contactme.html">Contact Info</a> | 
      <li><a href="blog.html">Blog... |</a>
   </div>
