<!-- Footer -->

    <footer>
      <hr>
        <div class="container text-center">
        <h3>insertheader</h3>
        <p>inserttext</p>

        <form action="" class="form-inline">
          <div class="form-group">
            <label for="sendjayamessage">Send Jay a Message</label>
            <input type="text" class="form-control" id="sendmessage" placeholder="Your name">
          </div>
          <div class="form-group">
            <label for="email">jaycw0001@gmail.com</label>
            <input type="text" class="form-control" id="email" placeholder="Enter your Email">
          </div>
          <button type="submit" class="btn btn-default">Email Jay</button>
          
        </form>

        <hr>
        <ul class="list-inline">
          <li><a href=https://github.com/jasoncwilley>inserlinks</a></li>
          <li><a href=https://stackoverflow.com/users/6666810/jay?tab=profile>inserlinks</a></li>
          <li><a href=https://stackoverflow.com/users/6666810/jay?tab=profile>inserlinks</a></li>
        </ul>
      </div><!-- end Container-->
      

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body> 
#Profile Links
GitHub 
StackOverFlow 
Linkedin: https://stackoverflow.com/users/6666810/jay?tab=profile